500 ICON MOVEABLE PURE LOADONCALL DISCARDABLE "MAINICON.ICO"

600	MENUEX MOVEABLE IMPURE LOADONCALL DISCARDABLE
BEGIN
    POPUP "&File", , , 0
    BEGIN
        MENUITEM "&Open", 1000
        MENUITEM "&Save for GBA...", 1001
        MENUITEM "", , 0x0800 /*MFT_SEPARATOR*/
        MENUITEM "&Exit", 1010
    END
    POPUP "&Help", , , 0
    BEGIN
        MENUITEM "&About", 1900
    END
END


MyDialog DIALOG 10, 10, 300, 100
STYLE 0x0004
CAPTION "Export Options"
BEGIN
    DEFPUSHBUTTON   "Export", 9000,    240,60,52,13
    PUSHBUTTON      "Cancel", 9001,  240,80,52,13
END

